html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8f1ff;
    background-image: url('../images/pixil-frame-0.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    /* border: 1px solid black; */
}

/* h1 {
    text-align: center;
} */

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    width: 150px;
}

#timer-btns-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#edit-btn {
    margin-left: auto;
}

#timer-display {
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
    z-index: 2;
}

#timer-control-btn-container {
    display: flex;
    flex-direction: row;
}

#timer-edit-container {
    background-color: white;
    display: none;
    z-index: 2;
}

#matcha-cake-img {
    position: absolute;
    bottom: 0;
    max-height: 200px;
    z-index: 1;
    /* border: 1px solid black; */
    pointer-events: none;
}